* {
  padding: auto;
  margin: auto;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}



$darkPink: #e4a8c1;
$pink: #fbdeeb;
$white: #ffffff;


a:link{
  text-decoration: none;
  color: black;
 
}

a:visited {
  text-decoration: none;
  color: black;
  
}

@mixin threeMagicLines {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fourMagicLines {
  display: flex wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navigation {
  @include threeMagicLines();
  position: fixed;
  background-color: white;
  width: 100vw;
  z-index: 100;
  box-shadow: 2px 2px $darkPink;
  font-weight: bold;

}

.sub-nav {
  margin: 2em;
}

.sub-nav {
  :hover {
    color: $darkPink;
    transition-duration: 1s;
  }
  font-weight: 600;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/IMG_9096ab.jpg);
  background-color: rgb(106, 115, 218);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.pink {
  background-color: $pink;
  
}

.header-one {
  text-align: center;
  color: $white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-section {
  @include threeMagicLines();
  width: 70vw;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.about-photo {
  width: 50vw;
  img {
    width: 100%;
  }
  opacity: 1;
}

.about-text {
  width: 50vw;
  margin: 20px;
}

.container-text {
  font-size: 4em;
 
}

.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;

  }

  .scroller {
    font-size: 0.5em;
  }

  .scroller > span {
    position: absolute;
    top: 0;
    animation: slide 8s infinite;
    text-decoration: underline $darkPink 3px;
    
    
  }
  @keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
  }



.portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70vw;

}

.sub-portfolio {
  width: 20vw;
  text-align: center;
  position: relative;
  img {
    width: 100%;
  }
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  filter: blur(0px) !important;
 
}

.sub-portfolio {
  border-bottom: 1px solid $darkPink;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  font-size: 1.2em;
  
  :hover {
    filter: blur(1px);
    transition-duration: 2s;
    p {
      filter: blur(0px) !important;
    }
    .more {
      opacity: 1;
      filter: blur(0px) !important;
    }
    
  }
}

p {
  filter: blur(0px) !important;
}

.more {
 position: absolute;
 left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -40px;
  z-index: 1000;
  opacity: 0;
  filter: blur(0px) !important;
 
} 

.more:hover {
  opacity: 1;
  filter: blur(0px) !important;
}

.portfolio-button {
  @include threeMagicLines();
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.offer{
  @include threeMagicLines();
  margin-top: 10vh;
}

.offer-photo {
  width: 30vw;
  img {
    width: 100%;
  }
  animation: newAnimation 8s infinite;
  transition: all 2s;
}

@keyframes  newAnimation { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.offer-text{
  width: 70vw;
}
.offer-sub-text {
  width: 50vw;
}

.contact {
  display: flex wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image:  url(/images/IMG_9096ab.jpg);
  background-color: rgb(106, 115, 218);
  height: 70vh;
  background-position: center;
  background-size: cover;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-size: 2em;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  
  svg {
    color: $darkPink;
  }
}

.contact-subsection {
  background-color: white;
  color: black;
  display: flex wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 40vh;
  font-size: 3em;
 
}

.social {
  @include threeMagicLines();
  width: 40vw;
  svg {
    font-size: 5em;
  }
  padding-bottom: 40px;
  
}

.social-fb{
  color: 	#4267B2;
  background-color: white;
  :hover {
    color: 	#375694;
    transition-duration: 1s;
    
  }
  p {
    color:rgb(34, 34, 34);
  }
  border: 1px $darkPink solid;
  padding: 40px;
  padding-right: 120px;
  padding-left: 120px;
}

.social-ig{
  // background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  color: 	#e1306c;
  background-color: white;
  :hover {
    color: 	#af2553;
    transition-duration: 1s;
  }
  p {
    color:rgb(34, 34, 34);
    text-align: center;
  }
  border: 1px $darkPink solid;
  padding: 40px;
  padding-right: 120px;
  padding-left: 120px;
}


footer {
  display: flex wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(34, 34, 34);
 
  color: white;
}

.footer-up {
  @include fourMagicLines();
  text-align: center;
}

.footer-down {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

.oferta-baner {
  height: 30vh;
}

.photo-oferta, .photo-img {
  @include threeMagicLines();
  width: 90vw;
}



@media (max-width: 500px) {
  .about-section {
    @include fourMagicLines();
    width: 90vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
  }

  .about-photo {
    width: 90vw;
    img {
      width: 100%;
    }
  }
  
  .about-text {
    width: 90vw;
    margin: 20px;
  }

  .portfolio{
    display: grid;
    grid-template-columns: 1fr;
    width: 90vw;
  
  }
  
  .sub-portfolio {
    width: 80vw;
    text-align: center;
    img {
      width: 100%;
    }
  }

  .offer{
    @include fourMagicLines();
    margin-top: 10vh;
  }
  
  .offer-photo {
    width: 70vw;
    img {
      width: 100%;
    }
  }
  
  .offer-text{
    width: 70vw;
  }
  .offer-sub-text {
    width: 70vw;
  }
}

